@model IEnumerable<WebGames.Application.Game.GameDto>?

@{
    ViewData["Title"] = "IndexGenre";
    var genreName = @ViewContext.RouteData.Values["encodedName"]?.ToString()!.Replace("-", " ");
    genreName = char.ToUpper(genreName![0]) + genreName.Substring(1);
}

<link rel="stylesheet" href="~/css/WebGames/CardHoverScale.css" />

<h1>@genreName Games</h1>

<div class="row">
    @{
        if (Model != null && Model.Count() > 0)
        {
            @await Html.PartialAsync("_IndexGamesPartial", Model)
        }
        else
        {
            <h2>There are no games of this genre.</h2>
        }
    }
</div>

@section Scripts {
    <script src="~/js/InitializeTooltips.js"></script>
}