@model WebGames.Application.Game.Commands.EditGame.EditGameCommand

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/WebGames/Edit.css" />

<h1>Edit @Model.Name</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="ImageSource" class="control-label"></label>
                <input asp-for="ImageSource" class="form-control" />
                <span asp-validation-for="ImageSource" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" asp-for="Image">Upload Image (Recommended Size: 300x200px)</label>
                <br />
                <input class="form-control" type="file" asp-for="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
                
                @if (Model.ImageName != null)
                {
                    <span class="text-danger">Warning! Existing image will be deleted after uploading a new one!</span>
                    <br />
                    <img class="rounded float-left img-fluid" style="width: 300px" src="~/gameImages/@Model.ImageName">
                }
            </div>

            <div class="form-group m-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />

<div class="bg-body-secondary rounded p-3 shadow-lg">
    <h4>Genres:</h4>
    
    <div class="btn-group dropend">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Add Genre
        </button>
        <ul class="dropdown-menu animate fadeIn" id="genres-dropdown" data-encoded-name="@Model.EncodedName">
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="visually-hidden">Loading...</span>
            </button>
        </ul>
    </div>

    <div id="genres" class="row" data-encoded-name="@Model.EncodedName">
        <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <a asp-action="Index" class="btn btn-primary m-3" style="width: 18rem;">Back to List</a>
    <a asp-action="Delete" class="btn btn-danger m-3" asp-route-encodedName="@Model.EncodedName" style="width: 18rem;">Delete</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/WebGames/Edit.js"></script>
}
