@model WebGames.Application.Game.GameDto

@{
    ViewData["Title"] = "Play";
}

<h1>@Model.Name</h1>
<h4 class="text-dark">@Model.Description</h4>

<div class="d-flex justify-content-center m-5"><script src="@Model.Source"></script></div>

<div>
    @if (Model.IsEditable)
    {
        <a class="btn btn-primary asp-controller="WebGames" asp-action="Edit" asp-route-encodedName="@Model.EncodedName">Edit</a>
    }
    <a asp-action="Index" class="btn btn-primary">Back to Games</a>
</div>
