@model WebGames.Application.Game.GameDto

@{
    ViewData["Title"] = "Play";
}

<h1 class ="d-flex justify-content-center align-self-xl-stretch align-items-xl-center m-1">@Model.Name</h1>
<h4 class="text-dark d-flex justify-content-center align-self-xl-stretch align-items-xl-center m-1">@Model.Description</h4>

<hr/>

<div id="game" class="d-flex justify-content-center align-self-xl-stretch align-items-xl-center m-5">
    @if (Model.SourceName != null)
    {
        <iframe class="ZMgameFrame" style="min-width: 1024px; min-height: 576px;" src="~/gameFiles/@Model.SourceName/index.html"></iframe>
    }
    else
    {
        <script src="@Model.Source"></script>
    }
</div>

<hr />

<div class="row d-flex justify-content-center align-self-xl-stretch align-items-xl-center m-5">
    <a asp-action="Index" style="width: 18rem;" class="btn btn-primary p-3"><i class="bi bi-arrow-left"></i> Back to Games</a>
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <a class="btn btn-secondary p-3" style="width: 18rem;" asp-controller="WebGames" asp-action="Edit" asp-route-encodedName="@Model.EncodedName"><i class="bi bi-gear-fill"></i> Edit</a>
    }
    <a class="btn btn-info p-3" style="width: 18rem;" id="fullscreen-button"><i class="bi bi-arrows-fullscreen"></i> Fullscreen</a>
</div>

@section Scripts {
    <script src="~/lib/screenfull.js/screenfull.js"></script>
    <script src="~/js/WebGames/Play.js"></script>
}